{
  	"presets":["@babel/preset-env"],
  	plugins:[
      [
        "component",
        {
          "libraryName": "element-ui",
          "style": true,
          "styleLibraryName": "theme-chalk"
        }
      ]
  ]
}